#ForwardingRefs {
	input {
		display: inline-block;
		width: 20rem;
		height: 5rem;
		font-size: 1.5rem;
	}
	button {
		display: inline-block;
		width: 8rem;
		height: 5rem;
		font-size: 1.5rem;
	}
}
