@use '../../reset.scss';

#home {
	display: flex;
	width: 100%;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	font-size: 20rem;

	.component {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		border-radius: 10px;
		padding: 0 20px;
		&:nth-of-type(1) {
			background-color: rgb(119, 255, 0);
		}
		&:nth-of-type(2) {
			background-color: rgb(0, 255, 255);
		}
		&:nth-of-type(3) {
			background-color: rgb(200, 0, 255);
		}
		&:nth-of-type(4) {
			background-color: rgb(255, 242, 0);
		}
		&:nth-of-type(5) {
			background-color: rgb(0, 4, 255);
		}
		&:nth-of-type(6) {
			background-color: rgb(215, 73, 149);
		}
		&:nth-of-type(7) {
			background-color: rgb(73, 215, 179);
		}
		&:nth-of-type(8) {
			background-color: rgb(249, 228, 0);
		}
		&:nth-of-type(9) {
			background-color: rgb(249, 133, 0);
		}
		&:nth-of-type(10) {
			background-color: rgb(0, 249, 124);
		}
		&:nth-of-type(11) {
			background-color: rgb(189, 54, 54);
		}
		&:nth-of-type(12) {
			background-color: rgb(249, 249, 0);
		}
		&:nth-of-type(13) {
			background-color: rgb(0, 224, 249);
		}
	}
}
